/* Colurs from http://www.colourlovers.com/pattern/582552/saturday_warmth */
$orange: #F07818;
$brown: #5E412F;
$light-orange: #F0A830;
$lighter-orange: lighten($light-orange, 10%);
$light-gray: #FCEBB6;
$dark-blue: #246091;
$pondwater: darken(#A7DBD8, 50%);;
$deepwater: darken($dark-blue, 10%);
@mixin dark {
  background-color: $orange;
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-shadow: 1px 2px 1px $brown;
  }
  a {
    color: $brown;
    text-shadow: none;
    &:hover,
    &:visited {
      color: $pondwater;
    }
  }
}

@mixin content-item {
  padding: 5px;
  h1, h2, h3, h4, h5, h6 {
    color: $brown;
  }
  a {
    color: $pondwater;
    &:hover,
    &:visited {
      color: $deepwater;
    }
  }
  ul, ol {
    padding-left: 20px;
  }
}
body {
  background: darken($lighter-orange, 10%) url(../img/582552.png) repeat;
  background-attachment: fixed;
  .container{
    box-shadow: 0px 0px 33px #333;
  }
}

header {
  @include dark;
}
[role=main] {
  background-color: $lighter-orange;
  section {
    @include content-item;
  }
}
footer {
 background-color: $brown;
 color: #fff;
  a {
    color: $light-orange;
    &:hover,
    &:visited {
      color: $lighter-orange;
    }
  }
}

@import "compass/typography/lists/bullets";
section.contact ul {
  @include no-bullets;
}
.dues img {
  margin-right: 1em;
  }
