/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 5, ../sass/_cleanup.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../sass/_cleanup.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../sass/_cleanup.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../sass/_cleanup.scss */
[hidden] {
  display: none;
}

/* line 10, ../sass/_cleanup.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../sass/_cleanup.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 12, ../sass/_cleanup.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 14, ../sass/_cleanup.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/_cleanup.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 17, ../sass/_cleanup.scss */
a {
  color: #00e;
}

/* line 18, ../sass/_cleanup.scss */
a:visited {
  color: #551a8b;
}

/* line 19, ../sass/_cleanup.scss */
a:hover {
  color: #06e;
}

/* line 20, ../sass/_cleanup.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../sass/_cleanup.scss */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../sass/_cleanup.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 24, ../sass/_cleanup.scss */
b, strong {
  font-weight: bold;
}

/* line 25, ../sass/_cleanup.scss */
blockquote {
  margin: 1em 40px;
}

/* line 26, ../sass/_cleanup.scss */
dfn {
  font-style: italic;
}

/* line 27, ../sass/_cleanup.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../sass/_cleanup.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, ../sass/_cleanup.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, ../sass/_cleanup.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 31, ../sass/_cleanup.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 32, ../sass/_cleanup.scss */
q {
  quotes: none;
}

/* line 33, ../sass/_cleanup.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../sass/_cleanup.scss */
small {
  font-size: 85%;
}

/* line 36, ../sass/_cleanup.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 37, ../sass/_cleanup.scss */
sup {
  top: -0.5em;
}

/* line 38, ../sass/_cleanup.scss */
sub {
  bottom: -0.25em;
}

/* line 40, ../sass/_cleanup.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 41, ../sass/_cleanup.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 42, ../sass/_cleanup.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/_cleanup.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 46, ../sass/_cleanup.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 48, ../sass/_cleanup.scss */
figure {
  margin: 0;
}

/* line 50, ../sass/_cleanup.scss */
form {
  margin: 0;
}

/* line 51, ../sass/_cleanup.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 52, ../sass/_cleanup.scss */
label {
  cursor: pointer;
}

/* line 53, ../sass/_cleanup.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 54, ../sass/_cleanup.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 55, ../sass/_cleanup.scss */
button, input {
  line-height: normal;
}

/* line 56, ../sass/_cleanup.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 57, ../sass/_cleanup.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 58, ../sass/_cleanup.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 59, ../sass/_cleanup.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 60, ../sass/_cleanup.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 61, ../sass/_cleanup.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 62, ../sass/_cleanup.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 64, ../sass/_cleanup.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 66, ../sass/_cleanup.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 67, ../sass/_cleanup.scss */
td {
  vertical-align: top;
}

/* line 69, ../sass/_cleanup.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 99, ../sass/_cleanup.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 100, ../sass/_cleanup.scss */
.ir br {
  display: none;
}

/* line 101, ../sass/_cleanup.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 102, ../sass/_cleanup.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 103, ../sass/_cleanup.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 104, ../sass/_cleanup.scss */
.invisible {
  visibility: hidden;
}

/* line 105, ../sass/_cleanup.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 106, ../sass/_cleanup.scss */
.clearfix:after {
  clear: both;
}

/* line 107, ../sass/_cleanup.scss */
.clearfix {
  *zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* line 114, ../sass/_cleanup.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 115, ../sass/_cleanup.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 116, ../sass/_cleanup.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 117, ../sass/_cleanup.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 118, ../sass/_cleanup.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 119, ../sass/_cleanup.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 120, ../sass/_cleanup.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 121, ../sass/_cleanup.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 122, ../sass/_cleanup.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 124, ../sass/_cleanup.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 125, ../sass/_cleanup.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 3, ../sass/_layout.scss */
.container {
  margin: 5px 10px;
}
/* line 52, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.1/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.1/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}
/* line 8, ../sass/_layout.scss */
.container header,
.container [role=main],
.container footer {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
@media all and (max-width: 45em) {
  /* line 13, ../sass/_layout.scss */
  .container h1 {
    font-size: 1.5em;
  }
  /* line 16, ../sass/_layout.scss */
  .container h2 {
    font-size: 1.25em;
  }
}
/* line 21, ../sass/_layout.scss */
.container header h2, .container header p {
  display: inline;
}

@media all and (min-width: 45em) and (max-width: 55em) {
  /* line 2, ../sass/_layout-medium.scss */
  [role=main] section:nth-child(2n+1) {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
  /* line 6, ../sass/_layout-medium.scss */
  [role=main] section:nth-child(2n+2) {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media all and (min-width: 45em) {
  /* line 1, ../sass/_layout-med-lge.scss */
  .contact li {
    display: inline;
  }

  /* line 4, ../sass/_layout-med-lge.scss */
  section.dues {
    float: left;
    width: 41.667%;
    margin-left: 0%;
    margin-right: -41.667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 7, ../sass/_layout-med-lge.scss */
  section.fun {
    float: left;
    width: 58.333%;
    margin-left: 41.667%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 10, ../sass/_layout-med-lge.scss */
  footer small {
    display: block;
    clear: left;
  }
}
@media all and (min-width: 55em) {
  /* line 1, ../sass/_layout-large.scss */
  body {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 7, ../sass/_layout-large.scss */
  [role=main] section:nth-child(3n+1) {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: left;
  }
  /* line 11, ../sass/_layout-large.scss */
  [role=main] section:nth-child(3n+2) {
    float: left;
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: -66.667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 14, ../sass/_layout-large.scss */
  [role=main] section:nth-child(3n+3) {
    float: left;
    width: 33.333%;
    margin-left: 66.667%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 18, ../sass/_layout-large.scss */
  [role=main] section.tweets {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 20, ../sass/_layout-large.scss */
  [role=main] section.tweets li[data-template] {
    float: left;
    width: 30%;
    margin-right: 3.33%;
  }
  /* line 24, ../sass/_layout-large.scss */
  [role=main] section.tweets li[data-template]:nth-child(3n) {
    clear: left;
  }
}
/* line 1, ../sass/_layout-large.scss */
.lt-ie9 body {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section:nth-child(3n+1) {
  float: left;
  width: 33.333%;
  margin-left: 0%;
  margin-right: -33.333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
/* line 11, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section:nth-child(3n+2) {
  float: left;
  width: 33.333%;
  margin-left: 33.333%;
  margin-right: -66.667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 14, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section:nth-child(3n+3) {
  float: left;
  width: 33.333%;
  margin-left: 66.667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 18, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section.tweets {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 20, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section.tweets li[data-template] {
  float: left;
  width: 30%;
  margin-right: 3.33%;
}
/* line 24, ../sass/_layout-large.scss */
.lt-ie9 [role=main] section.tweets li[data-template]:nth-child(3n) {
  clear: left;
}
/* line 1, ../sass/_layout-med-lge.scss */
.lt-ie9 .contact li {
  display: inline;
}
/* line 4, ../sass/_layout-med-lge.scss */
.lt-ie9 section.dues {
  float: left;
  width: 41.667%;
  margin-left: 0%;
  margin-right: -41.667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 7, ../sass/_layout-med-lge.scss */
.lt-ie9 section.fun {
  float: left;
  width: 58.333%;
  margin-left: 41.667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 10, ../sass/_layout-med-lge.scss */
.lt-ie9 footer small {
  display: block;
  clear: left;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url(/font/fontawesome-webfont.eot);
  src: url(/font/fontawesome-webfont.eot?#iefix) format('eot'), url(/font/fontawesome-webfont.woff) format('woff'), url(/font/fontawesome-webfont.ttf) format('truetype'), url(/font/fontawesome-webfont.otf) format('opentype'), url(/font/fontawesome-webfont.svgz#FontAwesomeRegular) format('svg'), url(/font/fontawesome-webfont.svg#FontAwesomeRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
/* line 42, ../sass/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 53, ../sass/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 60, ../sass/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 69, ../sass/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 75, ../sass/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 82, ../sass/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 90, ../sass/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 96, ../sass/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 103, ../sass/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 107, ../sass/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 111, ../sass/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 118, ../sass/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 119, ../sass/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 120, ../sass/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 121, ../sass/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 122, ../sass/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 123, ../sass/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 124, ../sass/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 125, ../sass/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 126, ../sass/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 127, ../sass/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 128, ../sass/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 129, ../sass/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 130, ../sass/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 131, ../sass/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 132, ../sass/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 134, ../sass/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 135, ../sass/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 136, ../sass/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 137, ../sass/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 138, ../sass/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 139, ../sass/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 140, ../sass/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 141, ../sass/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 142, ../sass/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 143, ../sass/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 144, ../sass/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 145, ../sass/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 146, ../sass/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 147, ../sass/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 148, ../sass/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 151, ../sass/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 152, ../sass/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 153, ../sass/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 154, ../sass/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 155, ../sass/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 156, ../sass/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 157, ../sass/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 158, ../sass/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 159, ../sass/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 160, ../sass/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 161, ../sass/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 162, ../sass/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 163, ../sass/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 164, ../sass/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 165, ../sass/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 167, ../sass/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 168, ../sass/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 169, ../sass/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 170, ../sass/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 171, ../sass/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 172, ../sass/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 173, ../sass/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 174, ../sass/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 175, ../sass/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 176, ../sass/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 177, ../sass/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 178, ../sass/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 179, ../sass/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 180, ../sass/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 181, ../sass/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 183, ../sass/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 184, ../sass/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 185, ../sass/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 186, ../sass/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 187, ../sass/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 188, ../sass/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 189, ../sass/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 190, ../sass/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 191, ../sass/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 192, ../sass/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 193, ../sass/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 194, ../sass/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 195, ../sass/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 196, ../sass/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 197, ../sass/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 199, ../sass/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 200, ../sass/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 201, ../sass/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 202, ../sass/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 203, ../sass/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 204, ../sass/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 205, ../sass/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 206, ../sass/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 207, ../sass/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 208, ../sass/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 209, ../sass/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 210, ../sass/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 211, ../sass/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 212, ../sass/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 213, ../sass/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 215, ../sass/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 216, ../sass/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 217, ../sass/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 218, ../sass/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 219, ../sass/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 220, ../sass/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 221, ../sass/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 222, ../sass/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 223, ../sass/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 224, ../sass/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 225, ../sass/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 226, ../sass/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 227, ../sass/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 228, ../sass/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 229, ../sass/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 231, ../sass/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 232, ../sass/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 233, ../sass/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 234, ../sass/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 235, ../sass/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 236, ../sass/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 237, ../sass/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 238, ../sass/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 239, ../sass/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 240, ../sass/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 241, ../sass/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 242, ../sass/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 243, ../sass/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 244, ../sass/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 245, ../sass/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 247, ../sass/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 248, ../sass/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 249, ../sass/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 250, ../sass/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 251, ../sass/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 252, ../sass/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 253, ../sass/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 254, ../sass/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 255, ../sass/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 256, ../sass/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 257, ../sass/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 258, ../sass/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 259, ../sass/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 260, ../sass/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 261, ../sass/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 263, ../sass/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 264, ../sass/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 265, ../sass/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 266, ../sass/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 267, ../sass/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* Colurs from http://www.colourlovers.com/pattern/582552/saturday_warmth */
/* line 42, ../sass/_base.scss */
body {
  background: #f0a830 url(../img/582552.png) repeat;
  background-attachment: fixed;
}
/* line 45, ../sass/_base.scss */
body .container {
  box-shadow: 0px 0px 33px #333;
}

/* line 50, ../sass/_base.scss */
header {
  background-color: #f07818;
}
/* line 12, ../sass/_base.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #fff;
  text-shadow: 1px 2px 1px #5e412f;
}
/* line 16, ../sass/_base.scss */
header a {
  color: #5e412f;
  text-shadow: none;
}
/* line 20, ../sass/_base.scss */
header a:hover, header a:visited {
  color: #265d5a;
}

/* line 53, ../sass/_base.scss */
[role=main] {
  background-color: #f3bc60;
}
/* line 55, ../sass/_base.scss */
[role=main] section {
  padding: 5px;
}
/* line 28, ../sass/_base.scss */
[role=main] section h1, [role=main] section h2, [role=main] section h3, [role=main] section h4, [role=main] section h5, [role=main] section h6 {
  color: #5e412f;
}
/* line 31, ../sass/_base.scss */
[role=main] section a {
  color: #265d5a;
}
/* line 34, ../sass/_base.scss */
[role=main] section a:hover, [role=main] section a:visited {
  color: #1a4568;
}
/* line 38, ../sass/_base.scss */
[role=main] section ul, [role=main] section ol {
  padding-left: 20px;
}

/* line 59, ../sass/_base.scss */
footer {
  background-color: #5e412f;
  color: #fff;
}
/* line 62, ../sass/_base.scss */
footer a {
  color: #f0a830;
}
/* line 65, ../sass/_base.scss */
footer a:hover, footer a:visited {
  color: #f3bc60;
}

/* line 73, ../sass/_base.scss */
section.contact ul,
section.tweets ul {
  list-style: none;
}
/* line 11, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
section.contact ul li,
section.tweets ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 76, ../sass/_base.scss */
.dues img {
  margin-right: 1em;
}
